<h5>POST COMMIT</h5>
<form action="/adm/{{commit._id}}/post" method="post" enctype="multipart/form-data">
  <label for="">Url: </label>
  <input type="text" name="url" value="{{commit.url}}">
  Category - {{commit.category}}
  <br>
  <input type='radio' name='category' value='yes' checked>Yes, she can!
  <input type='radio' name='category' value='bits'> Inspiration Bits
  {{!-- <input type='radio' name='category' value='linking'> Linking Women --}}

  <label for="">Description:</label>
  <input type="text" name="description" value="{{commit.description}}">

  Mudar a foto:
  <input type='radio' name='changePhoto' value='no' checked> Não
  <input type='radio' name='changePhoto' value='yes'> Sim

  Imagem atual: <img src="{{commit.imgPath}}" width="100px">
  <br>

  <div id="get-img" hidden>
    <label>Imagem :</label>
    <input type="file" name="photo">
  </div>


  <button type="submit"><img src="/images/checked.png" width="30px"></button>
</form>